In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/aaliyahgritly/Downloads/Bebo study items/customer_shopping_behavior.csv')

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [ ]:
df.describe(include = 'all') # Get summary statistics for all columns

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [5]:
df.isna().sum()  # Check for missing values in each column

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [13]:
df.groupby('Category').size()  # Count of entries per category

Category
Accessories    1240
Clothing       1737
Footwear        599
Outerwear       324
dtype: int64

In [6]:
# Fill missing review ratings with median per category
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [49]:
df.isna().sum()  # Check for missing values in each column

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [19]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [7]:
df.columns = df.columns.str.lower().str.replace(' ', '_') # Standardize column names
# replace spaces with underscores and convert to lowercase
df = df.rename(columns = {'purchase_amount_(usd)': 'purchase_amount'})  # Rename specific column

In [23]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

# Create a new column `age_group`

In [8]:
# create an `age_group` column from `age`
#bins = [0, 17, 25, 35, 45, 55, 200]
#labels = ['0-17', '18-25', '26-35', '36-45', '46-55', '56+']
#df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, include_lowest=True).astype('category')

# quick check
#df['age_group'].value_counts().sort_index()

labels = ['Young Adult', 'Adult', 'Middle Aged', 'Senior'] # Define labels for age groups
df['age_group'] = pd.qcut(df['age'], q = 4, labels = labels) # Create age groups using quantiles

In [8]:
df[['age', 'age_group']].sample(10)

      age    age_group
2727   40        Adult
3651   20  Young Adult
935    58       Senior
236    38        Adult
1966   67       Senior
2007   26  Young Adult
1225   28  Young Adult
1392   31  Young Adult
1741   41        Adult
3141   36        Adult

# Create a column `purchase_frequency_days`

In [9]:
frequency_map = {'Fortnightly': 14, 'Weekly': 7, 'Monthly': 30, 'Bi-Weekly': 15,
                 'Quarterly': 91, 'Annually': 365, 'Every 3 Months': 90, 'Daily': 1}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_map) # Map frequency to days

In [10]:
df[['frequency_of_purchases', 'purchase_frequency_days']].sample(10)

     frequency_of_purchases  purchase_frequency_days
2248            Fortnightly                       14
3044              Quarterly                       91
934                 Monthly                       30
3620            Fortnightly                       14
3409         Every 3 Months                       90
831          Every 3 Months                       90
1873                 Weekly                        7
708             Fortnightly                       14
3110              Bi-Weekly                       15
320               Quarterly                       91

In [11]:
df['purchase_frequency_days'].isna().sum()  # Check for missing values in the new column

np.int64(0)

# Check for redundant columns and drop them

In [12]:
df[['promo_code_used', 'discount_applied']].sample(10)

     promo_code_used discount_applied
1559             Yes              Yes
3826              No               No
736              Yes              Yes
381              Yes              Yes
2010              No               No
2309              No               No
3271              No               No
928              Yes              Yes
1429             Yes              Yes
3016              No               No

In [13]:
(df['promo_code_used'] == df['discount_applied']).all()  # Verify consistency between promo code usage and discount applied

np.True_

In [14]:
df.drop(columns = ['promo_code_used'], inplace = True)  # Drop redundant column

In [15]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle Aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle Aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle Aged,365

In [59]:
pip install sqlalchemy pymysql

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-py3-none-any.whl.metadata (9.5 kB)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy) (4.14.1)
Downloading sqlalchemy-2.0.45-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 5.8 MB/s  0:00:00 eta 0:00:01
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: sqlalchemy, pymysql
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pymysql]my]
Successfully installed pymysql-1.1.2 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:12345411Bb8@localhost/customer_behaviour")
df.to_sql(name = 'customer_trends', con = engine, if_exists = 'replace', index = False)

3900

In [ ]:
pip install cryptography